<section >
  <h2>Updated info from LinkedIn</h2>
  <h3>Check the fields you would like to save to your profile.</h3>
  <button ng-click="$ctrl.submit()" class="github">Submit</button>
  <form class="box">
    <div class="loader" ng-if="$ctrl.loading">
        <h1>Loading</h1>
    </div>
    <div ng-if="!ctrl.loading">
        <ul>
          <li ng-if="$ctrl.savedLink.pictureUrl">
            <input type="checkbox" ng-model="$ctrl.selected.pictureUrl">
            <label><strong>Profile Picture: </strong><img ng-src={{$ctrl.savedLink.pictureUrl}} alt=""></label>
          </li>
          <li ng-if="$ctrl.savedLink.headline">
            <input type="checkbox" ng-model="$ctrl.selected.headline">
            <label><strong>Headline:</strong> {{$ctrl.savedLink.headline}}</label>
          </li>
          <li ng-if="$ctrl.savedLink.profileUrl">
            <input type="checkbox" ng-model="$ctrl.selected.profileUrl">
            <label><strong>Profile Url:</strong> {{$ctrl.savedLink.profileUrl}}</label>
          </li>
          <li ng-if="$ctrl.savedLink.connections">
            <input type="checkbox" ng-model="$ctrl.selected.connections">
            <label><strong>Number of LinkedIn Connections:</strong> {{$ctrl.savedLink.connections}}</label>
          </li>
          <li ng-if="$ctrl.savedLink.summary">
            <input type="checkbox" ng-model="$ctrl.selected.summary">
            <label><strong>Profile Summary:</strong> {{$ctrl.savedLink.summary}}</label>
          </li>
          <li ng-if="$ctrl.savedLink.positionTitle"><h3>Positions:</h3>
            <ul>
              <li  ng-if="$ctrl.savedLink.positionTitle">
                <input type="checkbox" ng-model="$ctrl.selected.positionTitle">
                <label><strong>Last or Current Position:</strong> {{$ctrl.savedLink.positionTitle}}</label>
              </li>
              <li ng-if="$ctrl.savedLink.positionCompany">
                <input type="checkbox" ng-model="$ctrl.selected.positionCompany">
                <label><strong>Company:</strong> {{$ctrl.savedLink.positionCompany}}</label>
              </li>
              <li ng-if="$ctrl.savedLink.positionLocation">
                <input type="checkbox" ng-model="$ctrl.selected.positionLocation">
                <label><strong>Location:</strong> {{$ctrl.savedLink.positionLocation}}</label>
              </li>
              <li ng-if="$ctrl.savedLink.positionSummary">
                <input type="checkbox" ng-model="$ctrl.selected.positionSummary">
                <label><strong>Summary:</strong> {{$ctrl.savedLink.positionSummary}}</label>
              </li>
            </ul>
          </li>
        </ul>
      </form>
    </div>
</section>