<section>
  <h2>About TechFolio</h2>
  <br/>
  <p>The TechFolio app is a personal portfolio tool for software developers.
  This app provides the user with a single-page app that consolidates, exchanges, and updates personal data with Github, LinkedIn, and Twitter. This app will also enable the user to further expand the site's capabilities with additional social media and blog sites.

  For Github, the app will enable users to list all of their repositories, with the ability to select / de-select specific projects to display. As a stretch goal for our Github feature, the app will display the user's most recent project commits; incorporating Github's activity heat-map display and tweeting this activity via Twitter.

  For LinkedIn, the app will enable users to update and display their LinkedIn profiles; incorporating API-available data such as the user's photo, work history, personal profile information, etc.
  </p>
</section>
