<section>
  <nav></nav>

  <div class="jumbo">
    <h1>Techfolio</h1>
  </div>
  
  <div class="grid">
    <div class="col-1-3-fixed boxshadow">
      <article class="module">
        <h3>Link with your GitHub</h3>
        <p>Wouldn't it be nice if your professional resume could be
          dynamically linked to your recent projects, without having to
          copy and paste the details?</p>
      </article>
    </div>

    <div class="col-1-3-fixed boxshadow">
      <article class="module">
        <h3>Link with your LinkedIn</h3>
        <p>What if your tech portfolio included updated your professional
          details when they changed, without you having to enter everything
          repeatedly?</p>
      </article>
    </div>

    <div class="col-1-3-fixed boxshadow">
      <article class="module">
        <h3>Show off your Profile</h3>
        <p>How about one central link with everything in one place, and links
          to see more?</p>
      </article>
    </div>
  </div>

</section>
