<section>
  <header class="links">
    <br/>
    <a ui-sref="profile" ui-sref-active="foo">Profile</a>
    <a ui-sref="blog" ui-sref-active="foo">Blog</a>
    <a ui-sref="about" ui-sref-active="foo">About TechFolio</a>
    <a ui-sref="signin" ui-sref-active="foo">Sign Out</a>
  </header>
    <br/>
  <div class="jumbo">
    <h1>Techfolio</h1>

  </div>
  <div class="grid grid-pad">
    <div class="col-1-3-fixed">
      <article class="module">
        <h1>Link your github</h1>
        <h2>display projects</h2>
      </article>
  </div>
  <div class="col-1-3-fixed">
    <article class="module">
      <h1>Link your LinkedIn</h1>
      <h2>For more detailed info</h2>
    </article>
  </div>
  <div class="col-1-3-fixed">
    <article class="module">
      <h1>Show off your Profile</h1>
    </article>
    </div>
  </div>
</section>
