<section>
  <h2>Updated info from LinkedIn</h2>
  <form>
    <ul>
      <li><input type="checkbox"><label>Headline: {{$ctrl.linkProfile.headline}}</label></li>
      <li><input type="checkbox"><label>Last or Current Position: {{$ctrl.linkProfile.positions.values[0].title}}</label></li>
      <li><input type="checkbox"><label>Number of LinkedIn Connections: {{$ctrl.linkProfile.numConnections}}</label></li>
      <li><input type="checkbox"><label>Profile Picture: <img src="{{$ctrl.linkProfile.firstname}}" alt=""></label></li>
      <li><input type="checkbox"><label>Profile Url: {{$ctrl.linkProfile.publicProfileUrl}}</label></li>
    </ul>
    <button ng-click="$ctrl.submit()">Save Settings</button>
  </form>
</section>