<section>
<form>
  <label class='label'>Location:</label>
    <input ng-model="$ctrl.location">
    <br/>
  <label class='label'>College/University:</label>
    <input ng-model="$ctrl.college">
  <label class='label'>Degree:</label>
    <input ng-model="$ctrl.degree">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear">
    <br/>
  <label class='label'>College/University:</label>
    <input ng-model="$ctrl.college2">
  <label class='label'>Degree:</label>
    <input ng-model="$ctrl.degree2">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear2">
    <br/>
  
  <label class='label'>Vocational / Technical Training:</label>
    <input ng-model="$ctrl.school">
  <label class='label'>Certification:</label>
    <input ng-model="$ctrl.certification">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear3">

    <br/>
  <label class='label'>Skills:</label>
    <input class='skills' ng-model="$ctrl.skills">
    <br/>
  <label class='label'>Twitter:</label>
    <input ng-model="ctrl.twitter">
  <label class='label'>Facebook:</label>
    <input ng-model="ctrl.facebook">
    <br/><br/>
  <button class='signin' ng-click="$ctrl.savesForm()">Save</button>
</form>
</section>
