<section>
<form>
  <label class='label'>Location:</label>
    <input ng-model="$ctrl.location">

  <label class='label'>College/University:</label>
    <input ng-model="$ctrl.college">
  <label class='label'>Degree:</label>
    <input ng-model="$ctrl.degree">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear">

  <label class='label'>College/University:</label>
    <input ng-model="$ctrl.college2">
  <label class='label'>Degree:</label>
    <input ng-model="$ctrl.degree2">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear2">

  <label class='label'>Vocational School:</label>
    <input ng-model="$ctrl.school">
  <label class='label'>Certification:</label>
    <input ng-model="$ctrl.certification">
  <label class='label'>Graduation Year:</label>
    <input ng-model="$ctrl.gradyear">

  <label class='label'>Skills:</label>
    <input ng-model="$ctrl.skills">

  <label class='label'>Twitter:</label>
    <input ng-model="ctrl.twitter">

  <label class='label'>Facebook:</label>
    <input ng-model="ctrl.facebook">

  <button ng-click="$ctrl.savesForm()">Save</button>
</form>
</section>
