body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

h3 {
  color: darkslateblue;
}

/* Link Styles */
a, a:link, a:active {
  text-decoration: none;
}

header {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: darkslateblue;
  height: 8%;
  min-height: 50px;

  div {
    position: absolute;
    right: 0;
  }

  a {
    display: inline-block;
    height: 8%;
    min-height: 50px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
  }

  a:hover {
    background: slateblue;
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.boxshadow {
  outline: solid 1px #ccc;
  box-shadow: 1px 2px 8px #bbb;
}

.module {
  font-family: 'Raleway', sans-serif;

  p {
    font-size: .9em;
  }
}

/* Grid layout styling */

$pad: 20px;

// personal-info styling

label {
  color: darkslateblue;
  font-weight: bold;
  margin: 6px 8px 7px 6px;
}

input {
  border: 1px solid darkslateblue;
  radius: 4px;
  margin: 6px 8px 7px 6px;
}

.skills {
  width: 600px;
}

// buttons styling

.dashboard {
  font-weight: 500;
  font-style: oblique;
  color: darkslateblue;
  margin-left: 10px;
}
.dashboard:hover {
  font-weight: bold;
  margin-left: 10px;
  text-decoration: underline;
}

.welcome {
  border: 2px solid darkslateblue;
  border-radius: 5px;
  background-color: white;
  color: darkslateblue;
  font-weight: 500;
  padding: 4px 12px;
  margin-right: 10px;
}
.welcome:hover {
  background-color: aliceblue;
  font-weight: 600;
  padding: 4px 6px;
  box-shadow: 2px 2px 3px #aaa;
}

.signin {
  border: 2px solid darkslateblue;
  border-radius: 5px;
  background-color: white;
  color: darkslateblue;
  font-weight: 500;
  padding: 4px 6px;
}
.signin:hover {
  background-color: aliceblue;
  font-weight: 600;
  padding: 4px 6px;
  box-shadow: 2px 2px 3px #aaa;
}

.github {
  border: 2px solid darkslateblue;
  border-radius: 5px;
  background-color: white;
  color: darkslateblue;
  font-weight: 500;
  padding: 4px 6px;
}
.github:hover {
  background-color: aliceblue;
  font-weight: 600;
  padding: 4px 6px;
  box-shadow: 2px 2px 3px #aaa;
}

// grid & column styling

.grid {
  background: white;
  margin: 5%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  .grid & :last-of-type {
    padding-right: 0;
  }
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 30%;
  margin: 3%
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
