<section ng-class="get-github">
  <button ng-click="$ctrl.addGithub()" class="github">Submit</button>
  <div class="loader" ng-if="$ctrl.loading">
    <h1>Loading</h1>
  </div>
  <div class="box" ng-if="!$ctrl.loading">
    <ul ng-repeat="repo in $ctrl.repos">
        <li>Name: <a href="{{repo.html_url}}">{{repo.name}}</a></li>
        <li>Stars: {{repo.stargazers_count}}</li>
        <li>Last Update: {{repo.updated_at}}</li>
        <label for="keep">Keep this repo</label>
        <input type="checkbox" id="keep" ng-click="$ctrl.saveRepos(repo)">
    </ul>
  </div>
</section>