<section>
    <nav></nav>

    <div class="boxshadow profileboxes">
        <h2>Personal Info</h2>
        <button ng-click="$ctrl.personalForm()" class="github">Update Personal Info</button>
        <saved-personal></saved-personal>
    </div>

    <div class="boxshadow profileboxes">
        <h2>LinkedIn</h2>
        <div class="inline">
            <button ng-click="$ctrl.authenticate('linkedin')" class="github">Sign in with LinkedIn</button>
        </div>
        <div class="inline">
            <button ng-click="$ctrl.updateLinkProfile()" class="github">Update Profile from LinkedIn</button>
        </div>
        <linked-in></linked-in>
    </div>

    <div class="boxshadow profileboxes">
        <h2>GitHub</h2>
        <button class="github inline" ng-click="$ctrl.authenticate('github')">Sign in with GitHub</button>
        <button ng-click="$ctrl.updateGithubProfile()" class="github inline">Choose repos from github</button>
        <github></github>
    </div>
</section>
