<section>
    <nav></nav>

    <div class="boxshadow profileboxes">
        <h2>LinkedIn</h2>
        <div ng-if="!$ctrl.lilink">
            <button ng-click="$ctrl.authenticate('linkedin')">Sign in with LinkedIn</button>
        </div>
        <linkedIn></linkedIn>
    </div>

    <div class="boxshadow profileboxes">
        <h2>GitHub</h2>
        <div ng-if="!$ctrl.ghlink">
            <button ng-click="$ctrl.authenticate('github')">Sign in with GitHub</button>
        </div>
        <github></github>
    </div>
</section>
