<section ng-class="$ctrl.styles">

    <div class="loader" ng-if="$ctrl.loading">
        <h1>Loading</h1>
    </div>
    <div class="box"ng-if="!$ctrl.loading">
        <p>Username: {{$ctrl.profile.github.userName}}</p>
        <p>Github: <a href="{{$ctrl.profile.github.url}}">{{$ctrl.profile.github.url}}</a></p>
        <p>Number of public repos: {{$ctrl.profile.github.numRepos}}</p>
        <p ng-if="$ctrl.profile.bio">Bio: {{$ctrl.profile.github.bio}}</p>
        <p ng-if="$ctrl.profile.blog">Website: {{$ctrl.profile.github.blog}}</p>
        <p ng-if="$ctrl.profile.email">Email: {{$ctrl.profile.github.ghEmail}}</p>
        <p ng-if="$ctrl.profile.github.savedRepos" ng-repeat="repo in $ctrl.profile.github.savedRepos">Saved repos: {{repo.name}}</p>
    </div>

    <div class="box" ng-if="ctrl.repos">
        <ul ng-repeat="repo in $ctrl.repos">
            <li>Name: <a href="{{repo.html_url}}">{{repo.name}}</a></li>
            <li>Stars: {{repo.stargazers_count}}</li>
            <li>Last Update: {{repo.updated_at}}</li>
        </ul>
    </div>
</section>
