<section ng-class="$ctrl.styles">
    <br/>
    <button class="github" ng-click="$ctrl.getProfile()">github profile</button>

    <div class="loader" ng-if="$ctrl.loading">
        <h1>Loading</h1>
    </div>
    <div class="box"ng-if="!$ctrl.loading">
        <p>Username: {{$ctrl.profile.login}}</p>
        <p>Github: <a href="{{$ctrl.profile.html_url}}">{{$ctrl.profile.html_url}}</a></p>
        <p>Number of public repos: {{$ctrl.profile.public_repos}}</p>
        <p>Bio: {{$ctrl.profile.bio}}</p>
        <p>Website: {{$ctrl.profile.blog}}</p>
        <p nf-if="$ctrl.profile.email">Email: {{$ctrl.profile.email}}</p>
    </div>
</section>
