<section ng-class="$ctrl.styles">
    <button ng-click="$ctrl.getProfile()">github profile</button>

    <div class="loader" ng-if="$ctrl.loading">
        <h1>Loading</h1>
    </div>
    <div class="box"ng-if="!$ctrl.loading">
        <p>Username: {{$ctrl.profile.login}}</p>
        <p>Github: <a href="{{$ctrl.profile.html_url}}">{{$ctrl.profile.html_url}}</a></p>
        <p>Number of public repos: {{$ctrl.profile.public_repos}}</p>
        <p>Bio: {{$ctrl.profile.bio}}</p>
        <p>Website: {{$ctrl.profile.blog}}</p>
        <p nf-if="$ctrl.profile.email">Email: {{$ctrl.profile.email}}</p>
    </div>

    <button ng-click="$ctrl.getRepos()">Github Repos</button>
    <div class="box" ng-if"ctrl.repos">
        <ul ng-repeat="repo in $ctrl.repos">
            <li>Name: <a href="{{repo.html_url}}">{{repo.name}}</a></li>
            <li>Stars: {{repo.stargazers_count}}</li>
            <li>Last Update: {{repo.updated_at}}</li>
            <label for="keep">Keep this repo</label>
            <input type="checkbox" id="keep" ng-click="$ctrl.saveRepos(repo)">
        </ul>
        <button ng-click="$ctrl.addGithub()">Submit</button>
    </div>
</section>