<section>
    <header class="links">
        <div>
            <span ng-if="$ctrl.hastoken"><a ui-sref="userDash">My Profile</a></span>
            <a ui-sref="about">About TechFolio</a>
            <span ng-if="!$ctrl.hastoken"><a href="#" ng-click="$ctrl.signin()">Sign Up</a></span>
            <span ng-if="$ctrl.hastoken"><a href="#" ng-click="$ctrl.signout()">Sign Out</a></span>
        </div>
    </header>

    <div class="grid">

        <div class="boxes boxshadow">
            <article class="module profile">
                <div  class="center" ng-if="$ctrl.profile.linkedIn.pictureUrl">
                    <img ng-src={{$ctrl.profile.linkedIn.pictureUrl}}>
                </div>
                <h3>{{$ctrl.profile.firstName}}{{$ctrl.profile.lastName}}</h3>
                <p ng-if="$ctrl.profile.location">{{$ctrl.profile.location}}</p>
                <a href="mailto:{{$ctrl.profile.email}}?Subject=Nice%20TechFolio"
                    target="_top" ng-if="$ctrl.profile.email">
                    {{$ctrl.profile.email}}</a>
                <p ng-if="$ctrl.profile.blog">{{$ctrl.profile.blog}}</p>
                <p ng-if="$ctrl.profile.html_url"><a href="{{$ctrl.profile.html_url}}">GitHub</a></p>
            </article>
        </div>

        <div class="boxes boxshadow">
            <article class="module">
                <h3>LinkedIn</h3>
                <h4>{{$ctrl.profile.linkedIn.headline}}</h4>
                <p>{{$ctrl.profile.linkedIn.profileUrl}}</p>
                <p ng-if="$ctrl.profile.linkedIn.positionTitle!=='false'">{{$ctrl.profile.linkedIn.positionTitle}}</p>
                <p ng-if="$ctrl.profile.linkedIn.positionCompany!=='false'">{{$ctrl.profile.linkedIn.positionCompany}}</p>
                <p ng-if="$ctrl.profile.linkedIn.positionLocation!=='false'">{{$ctrl.profile.linkedIn.positionLocation}}</p>
                <p ng-if="$ctrl.profile.linkedIn.positionSummary!=='false'">{{$ctrl.profile.linkedIn.positionSummary}}</p>
                <p ng-if="$ctrl.profile.linkedIn.connections!=='false'">{{$ctrl.profile.linkedIn.connections}}</p>
            </article>
        </div>

        <div class="boxes boxshadow">
            <article class="module">
                <h3>GitHub Projects</h3>

                <a href="{{$ctrl.profile.github.website}}">
                    <p>Username: {{$ctrl.profile.github.userName}}</p></a>
                <p>Number of public repos: {{$ctrl.profile.github.numRepos}}</p>
                <p>Bio: {{$ctrl.profile.github.bio}}</p>

                <div class="box">
                    <ul ng-repeat="repo in $ctrl.profile.github.savedRepos">
                        <li>Name: <a href="">{{repo.name}}</a></li>
                        <li>Stars: {{repo.stars}}</li>
                        <li>Last Update: {{repo.lastUpdate}}</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>


</section>