<section>
    <header class="links">
        <div>
            <span ng-if="$ctrl.hastoken"><a ui-sref="userDash">My Profile</a></span>
            <a ui-sref="about">About TechFolio</a>
            <span ng-if="!$ctrl.hastoken"><a href="#" ng-click="$ctrl.signin()">Sign Up</a></span>
            <span ng-if="$ctrl.hastoken"><a href="#" ng-click="$ctrl.signout()">Sign Out</a></span>
        </div>
    </header>

    <div class="grid">

        <div class="boxes boxshadow">
            <article class="module profile">
                <h3>{{$ctrl.profile.firstName}}{{$ctrl.profile.lastName}}</h3>
                <p ng-if="$ctrl.profile.location">{{$ctrl.profile.location}}</p>
                <a href="mailto:{{$ctrl.profile.email}}?Subject=Nice%20TechFolio"
                   target="_top" ng-if="$ctrl.profile.email">
                    {{$ctrl.profile.email}}</a>
                <p ng-if="$ctrl.profile.blog">{{$ctrl.profile.blog}}</p>
                <p ng-if="$ctrl.profile.html_url"><a href="{{$ctrl.profile.html_url}}">GitHub</a></p>
            </article>
        </div>

        <div class="boxes boxshadow">
            <article class="module">
                <h3>LinkedIn</h3>
                <p>data here</p>
            </article>
        </div>

        <div class="boxes boxshadow">
            <article class="module">
                <h3>GitHub Projects</h3>

                <a ng-if="$ctrl.profile.html_url" href="{{$ctrl.profile.html_url}}">
                    <p>Username: {{$ctrl.profile.login}}</p></a>
                <p ng-if="$ctrl.profile.public_repos">Number of public repos: {{$ctrl.profile.public_repos}}</p>
                <p ng-if="$ctrl.profile.bio">Bio: {{$ctrl.profile.bio}}</p>
                <p ng-if="$ctrl.profile.email">Email: {{$ctrl.profile.email}}</p>

                <div class="box" ng-if="ctrl.profile.repos">
                    <ul ng-repeat="repo in $ctrl.profile.repos">
                        <li>Name: <a href="{{repo.html_url}}">{{repo.name}}</a></li>
                        <li>Stars: {{repo.stargazers_count}}</li>
                        <li>Last Update: {{repo.updated_at}}</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>


</section>